<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrossHexx.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CrossHexx.My.MySettings>
            <setting name="x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="color1" serializeAs="String">
                <value>255,0,0</value>
            </setting>
            <setting name="color2" serializeAs="String">
                <value>255,0,0</value>
            </setting>
            <setting name="color3" serializeAs="String">
                <value>255,0,0</value>
            </setting>
            <setting name="color4" serializeAs="String">
                <value>255,0,0</value>
            </setting>
            <setting name="color5" serializeAs="String">
                <value>255,0,0</value>
            </setting>
            <setting name="type1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="type2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="type3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="type4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="type5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name1" serializeAs="String">
                <value>デフォルトプリセット1</value>
            </setting>
            <setting name="name2" serializeAs="String">
                <value>デフォルトプリセット2</value>
            </setting>
            <setting name="name3" serializeAs="String">
                <value>デフォルトプリセット3</value>
            </setting>
            <setting name="name4" serializeAs="String">
                <value>デフォルトプリセット4</value>
            </setting>
            <setting name="name5" serializeAs="String">
                <value>デフォルトプリセット5</value>
            </setting>
            <setting name="y_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="img1" serializeAs="String">
                <value />
            </setting>
            <setting name="img2" serializeAs="String">
                <value />
            </setting>
            <setting name="img3" serializeAs="String">
                <value />
            </setting>
            <setting name="img4" serializeAs="String">
                <value />
            </setting>
            <setting name="img5" serializeAs="String">
                <value />
            </setting>
            <setting name="imghw1" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="imghw2" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="imghw3" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="imghw4" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="imghw5" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="def_set" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="x1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y5" serializeAs="String">
                <value>0</value>
            </setting>
        </CrossHexx.My.MySettings>
    </userSettings>
</configuration>